<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="ShopSmart"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopSmart">

        <!-- LOGIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- SIGNUP -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <!-- SELLER -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".InventoryActivity"
            android:exported="false" />

        <activity
            android:name=".SellerOrdersActivity"
            android:exported="false" />

        <!-- CUSTOMER -->
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="false" />

        <activity
            android:name=".CustomerProductsActivity"
            android:exported="false" />

        <!-- CART / CHECKOUT -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />

        <activity
            android:name=".OrderSuccessActivity"
            android:exported="false" />

        <activity
            android:name=".OrdersActivity"
            android:exported="false" />

        <!-- ORDER -->
        <activity
            android:name=".OrderTrackingActivity"
            android:exported="false" />

        <!-- INVOICE -->
        <activity
            android:name=".InvoiceActivity"
            android:exported="false" />

        <!-- WISHLIST -->
        <activity
            android:name=".WishlistActivity"
            android:exported="false" />

        <!-- REVIEW -->
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />

        <!-- NOTIFICATIONS -->
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

        <!-- PROFILE -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

    </application>

</manifest>